{% extends 'base.html.twig' %}

{% block title %}
    About us!
{% endblock %}

{% block body %}
    <div class="page-breadcrumb py-5 py-lg-7 bg-info bg-opacity-10">
        <div class="container pt-9">
            <h2 class="display-6 mb-0">Our story</h2>
        </div>
    </div>

    <main>
        <div class="container py-7">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="mb-3 display-5" data-aos="fade-up">Who we are</h2>
                    <p class="lead mb-0 text-muted" data-aos="fade-up" data-aos-delay="100">
                        Lorem ipsum dolor sit amet elit. Morbi fermentum justo vitae convallis varius. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis.
                    </p>
                </div>
            </div>
            <hr class="my-7">
            <div class="row">
                <div class="col-md-4 mb-5 mb-md-0" data-aos="fade-up">
                    <h5 class="mb-3">About Mission</h5>
                    <p class="mb-0 text-muted">
                        Consectetur adipiscing elit. Morbi fermentum Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis.
                    </p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                    <h5 class="mb-3">About Customers</h5>
                    <p class="mb-0 text-muted">
                        Lorem ipsum dolor convallis varius. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis.
                    </p>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="150">
                    <h5 class="mb-3">About Products</h5>
                    <p class="mb-0 text-muted">
                        Morbi fermentum justo vitae convallis varius. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis. Nulla tristique risus ut justo pulvinar mattis. Phasellus aliquet egestas mauris in venenatis.
                    </p>
                </div>
            </div>
            <hr class="my-7">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <div class="person-box">
                        <img src="{{ asset('img/team1.jpg') }}" alt="" class="img-fluid mb-4">
                        <h5 class="mb-1">John Doe</h5>
                        <small class="d-block mb-3">Ceo &amp; Founder</small>
                        <ul class="list-unstyled mb-0 d-flex align-items-center mb-4">
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-facebook"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-twitter"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-google-plus"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-linkedin"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <p class="mb-0 text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                        </p>
                    </div><!--/person-box-->
                </div>
                <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="150">
                    <div class="person-box">
                        <img src="{{ asset('img/team2.jpg') }}" alt="" class="img-fluid mb-4">
                        <h5 class="mb-1">John Doe</h5>
                        <small class="d-block mb-3">Ceo &amp; Founder</small>
                        <ul class="list-unstyled mb-0 d-flex align-items-center mb-4">
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-facebook"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-twitter"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-google-plus"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-linkedin"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <p class="mb-0 text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                        </p>
                    </div><!--/person-box-->
                </div>
                <div class="col-lg-3 col-sm-6 mb-5 mb-sm-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="person-box">
                        <img src="{{ asset('img/team3.jpg') }}" alt="" class="img-fluid mb-4">
                        <h5 class="mb-1">John Doe</h5>
                        <small class="d-block mb-3">Ceo &amp; Founder</small>
                        <ul class="list-unstyled mb-0 d-flex align-items-center mb-4">
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-facebook"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-twitter"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-google-plus"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-linkedin"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <p class="mb-0 text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                        </p>
                    </div><!--/person-box-->
                </div>
                <div class="col-md-3 col-sm-6" data-aos="fade-up" data-aos-delay="250">
                    <div class="person-box">
                        <img src="{{ asset('img/team4.jpg') }}" alt="" class="img-fluid mb-4">
                        <h5 class="mb-1">John Doe</h5>
                        <small class="d-block mb-3">Ceo &amp; Founder</small>
                        <ul class="list-unstyled mb-0 d-flex align-items-center mb-4">
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-facebook"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-twitter"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-google-plus"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-linkedin"></i></a></li>
                            <li class="me-1"><a href="#" class="btn p-0 flex-center rounded-circle size-40 btn-outline-secondary"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <p class="mb-0 text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                        </p>
                    </div><!--/person-box-->
                </div>
            </div>
        </div>
        <!--end page-->
    </main>
{% endblock %}