{% extends 'base.html.twig' %}

{% block title %}
    Cart!
{% endblock %}

{% block body %}
    <div id="cartNavmenu" class="offcanvas offcanvas-end">
        <div class="offcanvas-header border-bottom position-relative">

            <h4 class="mb-0">Your cart (3)</h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body p-4 flex-grow-1">

            <!--Cart items list-->
            <ul class="list-unstyled cart-list mb-0">

                <!--Cart item-->
                <li class="d-flex mb-3 align-items-center">
                    <div class="me-4 flex-shrink-0">
                        <a href="#">
                            <img src="assets/img/products/thumb3.jpg" alt="" class="width-80 h-auto rounded-3">
                        </a>
                    </div>
                    <div class="position-relative pe-5 flex-grow-1">
                        <a href="#!"
                           class="flex-center text-muted rounded-circle position-absolute end-0 top-50 translate-middle-y">
                            <i class="fas fa-trash-alt"></i></a>
                        <h6 class="mb-1"><a href="#">Dip-Dye Tote Bag</a></h6>
                        <p class="mb-0"><span class="price text-muted small">$48.00</span> x 1</p>
                    </div>
                </li>

                <!--Cart item-->
                <li class="d-flex mb-3 align-items-center">
                    <div class="me-4 flex-shrink-0">
                        <a href="#">
                            <img src="assets/img/products/thumb1.jpg" alt="" class="width-80 h-auto rounded-3">
                        </a>
                    </div>
                    <div class="position-relative pe-5 flex-grow-1">
                        <a href="#!"
                           class="flex-center text-muted rounded-circle position-absolute end-0 top-50 translate-middle-y">
                            <i class="fas fa-trash-alt"></i></a>
                        <h6 class="mb-1"><a href="#">Nackless Jewelery</a></h6>
                        <p class="mb-0"><span class="price text-muted small">$48.00</span> x 1</p>
                    </div>
                </li>

                <!--Cart item-->
                <li class="d-flex mb-4 align-items-center">
                    <div class="me-4 flex-shrink-0">
                        <a href="#">
                            <img src="assets/img/products/thumb2.jpg" alt="" class="width-80 h-auto rounded-3">
                        </a>
                    </div>
                    <div class="position-relative pe-5 flex-grow-1">
                        <a href="#!"
                           class="flex-center text-muted rounded-circle position-absolute end-0 top-50 translate-middle-y">
                            <i class="fas fa-trash-alt"></i></a>
                        <h6 class="mb-1"><a href="#">10-Unit System Chair</a></h6>
                        <p class="mb-0"><span class="price text-muted small">$48.00</span> x 1</p>
                    </div>
                </li>

                <!--Cart amount-->
                <li class="py-4 border-top border-bottom">
                    <div class="d-flex pb-2 mb-2 border-bottom justify-content-between align-items-center">
                        <small class="text-muted">Sub Total</small>
                        <h6 class="mb-0">$144.00</h6>
                    </div>
                    <div class="d-flex pb-2 mb-2 border-bottom justify-content-between align-items-center">
                        <small class="text-muted">Shipping charges</small>
                        <h6 class="mb-0">$0.00</h6>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">Total</span>
                        <h5 class="mb-0">$144.00</h5>
                    </div>
                </li>
            </ul>
        </div>

        <!--Cart action-->
        <div class="offcanvas-footer p-4">
            <div class="text-center d-grid">
                <a href="checkout-details.html" class="btn btn-secondary mb-2">Checkout</a>
                <a href="cart.html" class="btn btn-link">View Cart</a>
            </div>
        </div>
    </div>
{% endblock %}